*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
.navbar {
  display: flex;
  justify-content: space-around;
  background-color: #333;
  padding: 15px;
}
.cards {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}
.card {
flex: 1 1 250px;
background-color: #f0f0f0;
padding: 20px;
border-radius: 10px;
display: flex;
flex-direction:column;
}
.card p {
flex-grow: 1;
}
.card button {
align-self:flex-start;
}